.bg-grid {
  background: url(~/assets/img/grid.png);
}

.blur-overlay {
  background: linear-gradient(
    180deg,
    #ffffff00 0%,
    #ffffff00 65%,
    #ffffff 100%
  );
}

.fade-edge {
  --mask: linear-gradient(to right,
      rgba(0,0,0, 0) 0, rgba(0,0,0, 0) 5%,
      rgba(0,0,0, 1) 20%, rgba(0,0,0, 1) 80%,
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100%;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

h1,
h2,
h3 {
  @apply font-sans;
}

